<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="workDir" value="D:\文档\我的项目\AutoUpdate\Release"/>
		<add key="backupDir" value="D:\文档\我的项目\AutoUpdate\Release\TestBackup"/>
		<add key="releaseUri" value="http://localhost:7788"/>
		<add key="startApplicationName" value="demo.exe"/>
	</appSettings>
</configuration>